{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "arrow_left.png": {
        "extra_section": "ExtFlashSection"
      },
      "arrow_right.png": {
        "extra_section": "ExtFlashSection"
      },
      "dark_button.png": {
        "extra_section": "ExtFlashSection"
      },
      "dark_button_pressed.png": {
        "extra_section": "ExtFlashSection"
      },
      "logo.png": {
        "extra_section": "ExtFlashSection"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}